# Python data structures
 * Boolean
 * List
 * Comparison operators
 * Dictionaries
 * Tuples
 * Set

# Boolean Variables
 
 these are basically true and false values and also presents the same way, and also they present in 0 and 1

In [2]:
my_str= 'Rajesh'
print(my_str.isalnum()) #check if all char are numbers
print(my_str.isalpha()) #check if all char in the string are alphabetic
print(my_str.isdigit()) #test if string contains digits
print(my_str.istitle()) #test if string contains title words
print(my_str.isupper()) #test if string contains upper case
print(my_str.islower()) #test if string contains lower case
print(my_str.isspace()) #test if string contains spaces
print(my_str.endswith('k')) #test if string endswith a d
print(my_str.startswith('K')) #test if string startswith H
True

True
True
False
True
False
False
False
False
False

True

# List

In [3]:
type([])

list

In [4]:
list_ex = []

In [5]:
type(list_ex)

list

In [6]:
##simple way of creating
lst = list()

In [7]:
type(lst)

list

In [8]:
lst=['hello','there',200,500,700]

In [10]:
len(lst)

5

# append

In [11]:
lst.append("knock knock")

In [12]:
lst

['hello', 'there', 200, 500, 700, 'knock knock']

In [13]:
lst.append(["inside list"," in another lst"])

In [14]:
lst

['hello',
 'there',
 200,
 500,
 700,
 'knock knock',
 ['inside list', ' in another lst']]

In [15]:
# indexing in list
lst[6]

['inside list', ' in another lst']

In [16]:
lst[5]

'knock knock'

In [18]:
#in indexing it starts at first element it shows until the secound indicated index numbet
lst[1:5]

['there', 200, 500, 700]

# insert

In [19]:
lst.insert(2,"i came in middle")

In [20]:
lst

['hello',
 'there',
 'i came in middle',
 200,
 500,
 700,
 'knock knock',
 ['inside list', ' in another lst']]

# extends method

In [21]:
lst=[1,2,3,4]
lst.append([5,6])

In [22]:
lst

[1, 2, 3, 4, [5, 6]]

In [23]:
lst=[1,2,3,4]
lst.extend([5,6])

In [24]:
lst

[1, 2, 3, 4, 5, 6]

# some operations in list

In [25]:
lst=[1,2,3,4,5,6]

In [26]:
sum(lst)

21

In [27]:
lst*4

[1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6]

In [28]:
lst.pop()
##it pops the element like pop corn so the element dont exists again

6

In [29]:
lst

[1, 2, 3, 4, 5]

In [30]:
lst.pop(0)

1

In [31]:
lst

[2, 3, 4, 5]

In [33]:
lst=[1,1,2,3,1,4,5,3,6,5,3,6]

In [34]:
lst.count(1)

3

In [35]:
len(lst)

12

In [36]:
min(lst)

1

In [37]:
max(lst)

6

# Sets
 #### set data types are iterable and mutable but dont have any duplicate values in it. it follows hash table technique

In [38]:
set_ex = set()

In [39]:
type(set_ex)

set

In [40]:
print(set_ex)

set()

In [43]:
set_ex={1,2,3,4,5,6,5,5,3,6,2,"hello"}

In [44]:
set_ex

{1, 2, 3, 4, 5, 6, 'hello'}

In [45]:
set_ex.add("there")

In [46]:
set_ex

{1, 2, 3, 4, 5, 6, 'hello', 'there'}

In [47]:
set1={"Avengers","IronMan",'Hitman'}
set2={"Avengers","IronMan",'Hitman','Hulk2'}

In [48]:
set2.difference(set1)

{'Hulk2'}

In [49]:
set2.intersection_update(set1)

In [50]:
set2

{'Avengers', 'Hitman', 'IronMan'}

In [51]:
set1={"Avengers","IronMan",'Hitman'}
set2={"Avengers","IronMan",'Hitman','Hulk2'}
set2.difference_update(set1)

In [52]:
set2

{'Hulk2'}

# Dictionaries
#### these are key value pairs in python

In [54]:
dic = {}

In [55]:
type(dic)

dict

In [56]:
dict_ex = {"Car1" : "BMW", "Car2" : "Audi", "my_car" : "WaGonR",1 :2}

In [57]:
dict_ex

{'Car1': 'BMW', 'Car2': 'Audi', 'my_car': 'WaGonR', 1: 2}

In [60]:
dict_ex[1]

2

In [61]:
dict_ex["Car1"]

'BMW'

In [63]:
#it is possible to loop through keys
for x in dict_ex:
    print(x)

Car1
Car2
my_car
1

In [64]:
for x in dict_ex :#
    print("key : {} ,value : {}".format(x,dict_ex[x]))

key : Car1 ,value : BMW
key : Car2 ,value : Audi
key : my_car ,value : WaGonR
key : 1 ,value : 2

In [65]:
# we can add items to dict
dict_ex["Car4"] = "Tesla"

In [66]:
dict_ex

{'Car1': 'BMW', 'Car2': 'Audi', 'my_car': 'WaGonR', 1: 2, 'Car4': 'Tesla'}

In [67]:
car1_model={'Mercedes':1960}
car2_model={'Audi':1970}
car3_model={'Ambassador':1980}

car_type={'car1':car1_model,'car2':car2_model,'car3':car3_model}

In [68]:
car_type

{'car1': {'Mercedes': 1960},
 'car2': {'Audi': 1970},
 'car3': {'Ambassador': 1980}}

In [69]:
car_type['car1']

{'Mercedes': 1960}

In [70]:
car_type['car1']['Mercedes']

1960

# Tuples 

#### these are fixed unchangable values

In [71]:
tuple_ex = tuple()

In [72]:
tuple_ex

()

In [73]:
type(tuple_ex)

tuple

In [75]:
tuple_ex=("hello","here","there")

In [76]:
tuple_ex

('hello', 'here', 'there')

In [77]:
tuple_ex = ("there","it changes","values")

In [78]:
tuple_ex

('there', 'it changes', 'values')

In [80]:
tuple_ex.count('there')

1

In [81]:
tuple_ex.index('there')

0